$bg: #F9F9F9;
$red: #EA4A32;
$bln: #15d4e8;
$ballBlue:#2196F3;
@mixin bord {
  border-radius: 10px;
}
@mixin boxShadow{
  box-shadow: 0PX 2PX 4PX #9d9d9d38;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  word-break: break-all;
}

@mixin idx1 {
  @include bord;
  background: linear-gradient(#2899FF, #6788FF, #A279FF);
}

@mixin idx2 {
  background: linear-gradient(#FF746B, #FF8544, #FF961F);
}

@mixin idx3 {
  background: linear-gradient(#C671FF, #B55DFF, #A64BFF);
}

@mixin idx4 {
  background: linear-gradient(#12B6E7, #0DCDBE, #09DF9C);
}

@mixin abtn {
  @include tp32;
  color: #ffffff;
  background: #ffffff85;
  padding: 5px 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin abtn2 {
  @include tp32;
  color: #ffffff;
  @include idx2;
  padding: 5px 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin indexH1 {
  @include tp40;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

input {
  border: none;
}

@mixin tp40 {
  font-size: 40px;
}

@mixin tp38 {
  font-size: 38px;
}

@mixin tp36 {
  font-size: 36px;
}

@mixin tp34 {
  font-size: 34px;
}

@mixin tp32 {
  font-size: 32px;
}

@mixin tp30 {
  font-size: 30px;
}

@mixin btnBig {
  height: auto;
  a {
    width: 100%;
    height: 100px;
    border-radius: 100px;
    background: $red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2PX 4PX #00000036;
    @include tp36;

    &:active {
      background: #da3921;
    }
  }
}

$cl: #222222;
$cl1: #333333;
$cl2: #555555;
$cl3: #888888;
@mixin loading{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 110px;
}
.list .table{
  width: 80%;
  margin-top: 2%;
  margin: 0 auto;
  background: #ffffff;
  padding: 0 2%;
  table{
    width: 100%;
    background: #ffffff;
    tbody tr{
      td{
        text-align: left;
        width: 100px !important;
        border-bottom: 1PX solid $cl3;
      }
    }

  }
}
@mixin max_width {
  width: 550PX;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
  background: $bg;
  @media (max-width: 500PX) {
    width: 100%;
  }
}

.marquee {
  width: 96%;
  margin: 5% auto;
  background: #ffffff;
  height: 110px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  @include tp34;
  color: $cl1;

  > div {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid $cl3;
    flex-wrap: wrap;

    span {
      width: 100%;
      text-align: center;
      padding-left: 30%;

      &:first-child {
        @include tp40
      }

      &:last-child {
        @include tp32;
        color: $cl1;
      }
    }
  }

  > P {
    margin-left: 4%;
  }
}

:export {
  fontColor: $red;
  fontColor2:$cl;
  blue:$ballBlue;

}
.analy{
  .van-tabs__line{
    bottom: 23px;
  }
}
.van-tabbar-item--active{
  color: #E7523A;
}
.van-tabbar-item--active{
  position: relative;
  &:after{
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include idx2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;
    animation:move .5s;
  }
  @keyframes move {
    from{
      transform: scale(0);
      opacity: 1;
    }
    to{
      transform: scale(1);
      opacity: 0;
    }
  }
}
.van-tag--danger{
  background: none;
  color: #54B258;
}
.custom-title{
  @include tp32;
  padding-right: 4%;
}

